<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find the Queen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div id="cards-container">

</div>

<p id="playerMessage">Find the Queen!</p>


<button id="shuffleButton" onclick="startShuffle()">Shuffle Cards</button>

<script src="static/js/main.js"></script>

</body>
</html>
